<!-- <p>movie-details works!</p>
<div *ngFor="let f of movieList">
    <p>{{f.title}}</p>
    <p>{{f.overview}}</p>
    <p>{{f.release_date}}</p>
    <p>{{f.vote_average}}</p>
    <p>{{f.vote_count}}</p>
    <p>{{f.poster_path}}</p>
    <p>{{f.backdrop_path}}</p>
    <p>{{f.original_language}}</p>
    <p>{{f.original_title}}</p>
    <p>{{f.popularity}}</p>
    <p>{{f.video}}</p>
    <p>{{f.adult}}</p>
    <p>{{f.id}}</p>
    <p>{{f.genre_ids}}</p>
    <button>dfddfddfd</button>
</div>
<hr/> -->
<!-- {{movieList|json}} -->
<app-carousl></app-carousl>
