<!-- {{selectedMovieList|json}} -->
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image:url('https://image.tmdb.org/t/p/original/selectedMovie?.backdrop_path');"></div>
        <mat-card-title>{{selectedMovie?.original_title}}</mat-card-title>
        <mat-card-subtitle>imdb Id;{{selectedMovie?.imdb_id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/original/{{selectedMovie?.backdrop_path}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>{{selectedMovie?.overview}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>

<!-- {{selectedMovieCast|json}} -->
<div class="contain mt-3 mb-5 p-4">

    <!-- trending movies  -->
    <div class="row">
        <h5 class="text-white">Details</h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let smc of selectedMovieCast">
                <img src="https://image.tmdb.org/t/p/original/{{smc.profile_path}}" class="rowimg largeposter" alt="..."
                    [routerLink]="['/movieDetails',smc.id]">
                <div class="rowtitle">{{smc.name}}</div>
                {{smc.original_name}}
                {{smc.character}}
            </ng-container>

        </div>

    </div>
</div>